<h2>お問い合わせ</h2>

<table class="table table-striped">
<%= form_with(model: Blog.new, local: true) do |form| %>
<div class="blog_title">
  <tr>
    <th><%= form.label :title %></th>
    <th><%= form.text_field :title %></th>
  </tr>
</div>

<div class="blog_title">
  <tr>
    <th><%= form.label :content %></th>
    <th><%= form.text_field :content %></th>
  </tr>
</div>
<% end %>
</table>
<a class="btn" href="/tops" role="button">送信</a>
