
<h1>編集画面</h1>

<%= form_with(model: @blog, local: true) do |form| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= @blog.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @blog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table class="table table-striped">
  <div class="blog_title">
    <tr>
      <th><%= form.label :title %></th><th><%= form.text_field :title %></th>
    </tr>
  </div>
  <div class="blog_title">
    <tr>
      <th><%= form.label :content %></th><th><%= form.text_field :content %></th>
    </tr>
  </div>
  </table>
  <button class="btn" type="submit">更新する</button>
<% end %>
