<!DOCTYPE html>
<html>
<head>
  <title>BlogApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#gnavi">
            <span class="sr-only">Bootstrap</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/tops">BlogApp</a>
        </div>
        <div id="gnavi" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
              <li><a href="/tops">トップページ</a></li>
              <li><a href="/blogs">ブログ</a></li>
              <li><a href="/users/new">新規登録</a></li>
              <li><a href="/sessions/new">ログイン</a></li>
            </ul>
        </div>
      </div>
    </nav>
  </header>

<%= yield %>




<% if logged_in? %>
  <%= link_to "プロフィール", user_path(current_user.id) %>
  <%= link_to "ログアウト", session_path(current_user.id), method: :delete %>
<% else %>
  <%= link_to "ユーザー登録", new_user_path %>
  <%= link_to "ログイン", new_session_path %>
<% end %>

  <footer>
    <p>運営会社 BLOGAPP 株式会社</p>
    <p>© 2018 Copyright BLOGAPP Corp.</p>
  </footer>

</body>
</html>
